# Python virtual environment
myenv/
venv/
*.pyc
__pycache__/

# MacOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Large files and model weights
*.dylib
*.dat
*.so



# captured_faces/
# Attendance/